<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <style>
        html, body {
            height: 100%;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body>
    <center>
        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register" />
        </form>
    </center>
</body>
</html>
